html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

p {
  margin: 0px;
}
.app {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("BGimage.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(5px);
  z-index: -1;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  z-index: 1;
}

.toggle-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.chatbot-container {
  width: 400px;
  right: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.chatbot-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b838b;
  color: white;
  padding: 0px 15px 0px 15px;
  border-radius: 10px 10px 0 0;
  position: sticky;
  top: 0;
  height: 50px;
  z-index: 2;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.chatbot {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 400px;
  margin-bottom: 10px;
  min-height: 300px;
  padding: 15px;
}

.message {
  margin-bottom: 12px;
  padding: 10px 20px;
  border-radius: 25px;
  max-width: 90%;
  display: flex;
  max-width: 80%;
  word-wrap: break-word;
}

.message.bot {
  background-color: #f0f0f0;
  align-self: flex-start;
  justify-content: flex-start;
  margin-right: auto;
}

.message.user {
  background-color: #d2e8ea;
  align-self: flex-end;
  justify-content: flex-end;
  display: flex;
  max-width: 80%;
  word-wrap: break-word;
  margin-left: auto;
  width: fit-content;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-style: italic;
}

button {
  padding: 10px;
  background-color: #1b838b;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.upload-icon {
  position: absolute;
  right: 120px;
  cursor: pointer;
  font-size: 20px;
  color: #1b838b;
}